openapi: 3.1.0
info:
  title: Mollie API
  version: 1.0.0
  license:
    name: Attribution-NonCommercial-ShareAlike 4.0 International
    identifier: CC-BY-NC-SA-4.0
servers:
  - url: https://api.mollie.com/v2
security:
  - apiKey: []
  - oAuth: []
tags:
  - name: Payments API
    x-displayName: Payments API
  - name: Methods API
    x-displayName: Methods API
  - name: Refunds API
    x-displayName: Refunds API
  - name: Chargebacks API
    x-displayName: Chargebacks API
  - name: Captures API
    x-displayName: Captures API
  - name: Wallets API
    x-displayName: Wallets API
  - name: Payment Links API
    x-displayName: Payment Links API
  - name: Terminals API
    x-displayName: Terminals API
  - name: Delayed Routing API
    x-displayName: Delayed Routing API
  - name: Customers API
    x-displayName: Customers API
  - name: Mandates API
    x-displayName: Mandates API
  - name: Subscriptions API
    x-displayName: Subscriptions API
  - name: Permissions API
    x-displayName: Permissions API
  - name: Organizations API
    x-displayName: Organizations API
  - name: Profiles API
    x-displayName: Profiles API
  - name: Onboarding API
    x-displayName: Onboarding API
  - name: Capabilities API
    x-displayName: Capabilities API
  - name: Clients API
    x-displayName: Clients API
  - name: Client Links API
    x-displayName: Client Links API
  - name: Webhooks API
    x-displayName: Webhooks API
  - name: Webhook Events API
    x-displayName: Webhook Events API
  - name: Balances API
    x-displayName: Balances API
  - name: Settlements API
    x-displayName: Settlements API
  - name: Invoices API
    x-displayName: Invoices API
  - name: Sales Invoices API
    x-displayName: Sales Invoices API
paths:
  /payments:
    post:
      summary: Create payment
      x-speakeasy-name-override: create
      tags:
        - Payments API
      operationId: create-payment
      security:
        - apiKey: []
        - oAuth:
            - payments.write
      description: |-
        Payment creation is elemental to the Mollie API: this is where most payment
        implementations start off.

        Once you have created a payment, you should redirect your customer to the
        URL in the `_links.checkout` property from the response.

        To wrap your head around the payment process, an explanation and flow charts
        can be found in the 'Accepting payments' guide.

        If you specify the `method` parameter when creating a payment, optional
        additional parameters may be available for the payment method that are not listed below. Please refer to the
        guide on [method-specific parameters](extra-payment-parameters).
      parameters:
        - description: This endpoint allows you to include additional information via the `include` query string parameter.
          schema:
            type:
              - string
              - 'null'
            enum:
              - details.qrCode
            x-enumDescriptions:
              details.qrCode: Include a QR code object. Only available for iDEAL, Bancontact and bank transfer payments.
            example: details.qrCode
          name: include
          in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: &ref_65
                - amount
                - description
                - redirectUrl
              properties: &ref_66
                resource:
                  type: string
                  description: Indicates the response contains a payment object. Will always contain the string `payment` for this endpoint.
                  readOnly: true
                  example: payment
                id:
                  description: |-
                    The identifier uniquely referring to this payment. Mollie assigns this identifier at payment creation time. Mollie
                    will always refer to the payment by this ID. Example: `tr_5B8cwPMGnU6qLbRvo7qEZo`.
                  readOnly: true
                  type: string
                  example: tr_5B8cwPMGnU
                mode:
                  type: string
                  description: Whether this entity was created in live mode or in test mode.
                  enum: &ref_3
                    - live
                    - test
                  readOnly: true
                  example: live
                description:
                  type: string
                  description: |-
                    The description of the payment. This will be shown to your customer on their card or bank statement when possible.
                    We truncate the description automatically according to the limits of the used payment method. The description is
                    also visible in any exports you generate.

                    We recommend you use a unique identifier so that you can always link the payment to the order in your back office.
                    This is particularly useful for bookkeeping.

                    The maximum length of the description field differs per payment method, with the absolute maximum being 255
                    characters. The API will not reject strings longer than the maximum length but it will truncate them to fit.
                  maxLength: 255
                  example: Chess Board
                amount:
                  description: |-
                    The amount that you want to charge, e.g. `{currency:"EUR", value:"1000.00"}` if you would want to charge €1000.00.

                    You can find the minimum and maximum amounts per payment method in our help center. Additionally, they can be
                    retrieved using the Get method endpoint.

                    If a tip was added for a Point-of-Sale payment, the amount will be updated to reflect the initial amount plus the
                    tip amount.
                  type: object
                  required: &ref_0
                    - currency
                    - value
                  properties: &ref_1
                    currency:
                      type: string
                      description: A three-character ISO 4217 currency code.
                      example: EUR
                    value:
                      type: string
                      description: A string containing an exact monetary amount in the given currency.
                      example: '10.00'
                amountRefunded:
                  description: |-
                    The total amount that is already refunded. Only available when refunds are available for this payment. For some
                    payment methods, this amount may be higher than the payment amount, for example to allow reimbursement of the
                    costs for a return shipment to the customer.
                  readOnly: true
                  type: object
                  required: *ref_0
                  properties: *ref_1
                amountRemaining:
                  description: The remaining amount that can be refunded. Only available when refunds are available for this payment.
                  readOnly: true
                  type: object
                  required: *ref_0
                  properties: *ref_1
                amountCaptured:
                  description: The total amount that is already captured for this payment. Only available when this payment supports captures.
                  readOnly: true
                  type: object
                  required: *ref_0
                  properties: *ref_1
                amountChargedBack:
                  description: |-
                    The total amount that was charged back for this payment. Only available when the total charged back amount is not
                    zero.
                  readOnly: true
                  type: object
                  required: *ref_0
                  properties: *ref_1
                settlementAmount:
                  description: |-
                    This optional field will contain the approximate amount that will be settled to your account, converted to the
                    currency your account is settled in.

                    Any amounts not settled by Mollie will not be reflected in this amount, e.g. PayPal or gift cards. If no amount is
                    settled by Mollie the `settlementAmount` is omitted from the response.

                    Please note that this amount might be recalculated and changed when the status of the payment changes. We suggest
                    using the List balance transactions endpoint instead to get more accurate settlement amounts for your payments.
                  readOnly: true
                  type: object
                  required: *ref_0
                  properties: *ref_1
                redirectUrl:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The URL your customer will be redirected to after the payment process.

                    It could make sense for the redirectUrl to contain a unique identifier – like your order ID – so you can show the
                    right page referencing the order when your customer returns.

                    The parameter is normally required, but can be omitted for recurring payments (`sequenceType: recurring`) and for
                    Apple Pay payments with an `applePayPaymentToken`.
                  example: https://example.org/redirect
                cancelUrl:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The URL your customer will be redirected to when the customer explicitly cancels the payment. If this URL is not
                    provided, the customer will be redirected to the `redirectUrl` instead — see above.

                    Mollie will always give you status updates via webhooks, including for the canceled status. This parameter is
                    therefore entirely optional, but can be useful when implementing a dedicated customer-facing flow to handle
                    payment cancellations.
                  example: https://example.org/cancel
                webhookUrl:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The webhook URL where we will send payment status updates to.

                    The webhookUrl is optional, but without a webhook you will miss out on important status changes to your payment.

                    The webhookUrl must be reachable from Mollie's point of view, so you cannot use `localhost`. If you want to use
                    webhook during development on `localhost`, you must use a tool like ngrok to have the webhooks delivered to your
                    local machine.
                  example: https://example.org/webhooks
                lines:
                  type:
                    - array
                    - 'null'
                  description: |-
                    Optionally provide the order lines for the payment. Each line contains details such as a description of the item
                    ordered and its price.

                    All lines must have the same currency as the payment.

                    Required for payment methods `billie`, `in3`, `klarna`, `riverty` and `voucher`.
                  items:
                    allOf:
                      - type: object
                        required: &ref_6
                          - description
                          - quantity
                          - unitPrice
                          - totalAmount
                        properties: &ref_7
                          type:
                            type: string
                            description: |-
                              The type of product purchased. For example, a physical or a digital product.

                              The `tip` payment line type is not available when creating a payment.
                            enum:
                              - physical
                              - digital
                              - shipping_fee
                              - discount
                              - store_credit
                              - gift_card
                              - surcharge
                              - tip
                            default: physical
                          description:
                            type: string
                            description: A description of the line item. For example *LEGO 4440 Forest Police Station*.
                            example: LEGO 4440 Forest Police Station
                          quantity:
                            type: integer
                            description: The number of items.
                            minimum: 1
                            example: 1
                          quantityUnit:
                            type: string
                            description: The unit for the quantity. For example *pcs*, *kg*, or *cm*.
                            example: pcs
                          unitPrice:
                            description: |-
                              The price of a single item including VAT.

                              For example: `{"currency":"EUR", "value":"89.00"}` if the box of LEGO costs €89.00 each.

                              For types `discount`, `store_credit`, and `gift_card`, the unit price must be negative.

                              The unit price can be zero in case of free items.
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          discountAmount:
                            description: |-
                              Any line-specific discounts, as a positive amount. Not relevant if the line itself is already a discount
                              type.
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          totalAmount:
                            description: |-
                              The total amount of the line, including VAT and discounts.

                              Should match the following formula: `(unitPrice × quantity) - discountAmount`.

                              The sum of all `totalAmount` values of all order lines should be equal to the full payment amount.
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          vatRate:
                            type: string
                            description: |-
                              The VAT rate applied to the line, for example `21.00` for 21%. The vatRate should be passed as a string and
                              not as a float, to ensure the correct number of decimals are passed.
                            example: '21.00'
                          vatAmount:
                            description: |-
                              The amount of value-added tax on the line. The `totalAmount` field includes VAT, so the `vatAmount` can be
                              calculated with the formula `totalAmount × (vatRate / (100 + vatRate))`.

                              Any deviations from this will result in an error.

                              For example, for a `totalAmount` of SEK 100.00 with a 25.00% VAT rate, we expect a VAT amount of
                              `SEK 100.00 × (25 / 125) = SEK 20.00`.
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          sku:
                            type: string
                            description: The SKU, EAN, ISBN or UPC of the product sold.
                            maxLength: 64
                            example: '9780241661628'
                          categories:
                            type: array
                            description: |-
                              An array with the voucher categories, in case of a line eligible for a voucher. See the
                              [Integrating Vouchers](integrating-vouchers) guide for more information.
                            items:
                              type: string
                              enum:
                                - meal
                                - eco
                                - gift
                                - sport_culture
                              example: meal
                            example:
                              - meal
                              - eco
                          imageUrl:
                            type: string
                            description: A link pointing to an image of the product sold.
                            example: https://...
                          productUrl:
                            type: string
                            description: A link pointing to the product page in your web shop of the product sold.
                            example: https://...
                      - type: object
                        properties:
                          recurring:
                            description: |-
                              The details of subsequent recurring billing cycles. These parameters are used in the Mollie Checkout
                              to inform the shopper of the details for recurring products in the payments.
                            type: object
                            required: &ref_8
                              - interval
                            properties: &ref_9
                              description:
                                type: string
                                description: A description of the recurring item. If not present, the main description of the item will be used.
                                example: Gym subscription
                              interval:
                                type: string
                                description: 'Cadence unit of the recurring item. For example: `12 months`, `52 weeks` or `365 days`.'
                                enum:
                                  - ... months
                                  - ... weeks
                                  - ... days
                                example: 12 months
                              amount:
                                description: Total amount and currency of the recurring item.
                                type: object
                                required: *ref_0
                                properties: *ref_1
                              times:
                                type: integer
                                description: Total number of charges for the subscription to complete. Leave empty for ongoing subscription.
                                example: 1
                              startDate:
                                type:
                                  - string
                                  - 'null'
                                description: The start date of the subscription if it does not start right away (format `YYYY-MM-DD`)
                                example: '2024-12-12'
                billingAddress:
                  description: |-
                    The customer's billing address details. We advise to provide these details to improve fraud protection and
                    conversion.

                    Should include `email` or a valid postal address consisting of `streetAndNumber`, `postalCode`, `city` and
                    `country`.

                    Required for payment method `in3`, `klarna`, `billie` and `riverty`.
                  type: object
                  properties: &ref_2
                    title:
                      type: string
                      description: The title of the person, for example *Mr.* or *Mrs.*.
                      example: Mr.
                    givenName:
                      type: string
                      description: |-
                        The given name (first name) of the person should be at least two characters and cannot contain only
                        numbers.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: Piet
                    familyName:
                      type: string
                      description: |-
                        The given family name (surname) of the person should be at least two characters and cannot contain only
                        numbers.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: Mondriaan
                    organizationName:
                      type: string
                      description: The name of the organization, in case the addressee is an organization.
                      example: Mollie B.V.
                    streetAndNumber:
                      type: string
                      description: |-
                        A street and street number.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: Keizersgracht 126
                    streetAdditional:
                      type: string
                      description: Any additional addressing details, for example an apartment number.
                      example: Apt. 1
                    postalCode:
                      type: string
                      description: |-
                        A postal code. This field may be required if the provided country has a postal code system.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: 1234AB
                    email:
                      type: string
                      description: |-
                        A valid e-mail address.

                        If you provide the email address for a `banktransfer` payment, we will automatically send the instructions
                        email upon payment creation. The language of the email will follow the locale parameter of the payment.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: piet@example.org
                    phone:
                      type: string
                      description: 'If provided, it must be in the [E.164](https://en.wikipedia.org/wiki/E.164) format. For example: +31208202070.'
                      example: 31208202070
                    city:
                      type: string
                      description: |-
                        A city name.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: Amsterdam
                    region:
                      type: string
                      description: 'The top-level administrative subdivision of the country. For example: Noord-Holland.'
                      example: Noord-Holland
                    country:
                      type: string
                      description: |-
                        A country code in [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) format.

                        Required for payment methods `billie`, `in3`, `klarna` and `riverty`.
                      example: NL
                shippingAddress:
                  description: |-
                    The customer's shipping address details. We advise to provide these details to improve fraud protection and
                    conversion.

                    Should include `email` or a valid postal address consisting of `streetAndNumber`, `postalCode`, `city` and
                    `country`.
                  type: object
                  properties: *ref_2
                locale:
                  type:
                    - string
                    - 'null'
                  description: |-
                    Allows you to preset the language to be used in the hosted payment pages shown to the customer. Setting a locale
                    is highly recommended and will greatly improve your conversion rate. When this parameter is omitted the browser
                    language will be used instead if supported by the payment method. You can provide any `xx_XX` format ISO 15897
                    locale, but our hosted payment pages currently only support the specified languages.

                    For bank transfer payments specifically, the locale will determine the target bank account the customer has to
                    transfer the money to. We have dedicated bank accounts for Belgium, Germany, and The Netherlands. Having the
                    customer use a local bank account greatly increases the conversion and speed of payment.
                  enum: &ref_10
                    - en_US
                    - en_GB
                    - nl_NL
                    - nl_BE
                    - de_DE
                    - de_AT
                    - de_CH
                    - fr_FR
                    - fr_BE
                    - es_ES
                    - ca_ES
                    - pt_PT
                    - it_IT
                    - nb_NO
                    - sv_SE
                    - fi_FI
                    - da_DK
                    - is_IS
                    - hu_HU
                    - pl_PL
                    - lv_LV
                    - lt_LT
                  example: en_US
                countryCode:
                  type:
                    - string
                    - 'null'
                  description: |-
                    This optional field contains your customer's ISO 3166-1 alpha-2 country code, detected by us during checkout. This
                    field is omitted if the country code was not detected.
                  example: BE
                  minLength: 2
                  maxLength: 2
                  readOnly: true
                method:
                  type: &ref_11
                    - string
                    - 'null'
                  description: |-
                    Normally, a payment method screen is shown. However, when using this parameter, you can choose a specific payment
                    method and your customer will skip the selection screen and is sent directly to the chosen payment method. The
                    parameter enables you to fully integrate the payment method selection into your website.

                    You can also specify the methods in an array. By doing so we will still show the payment method selection screen
                    but will only show the methods specified in the array. For example, you can use this functionality to only show
                    payment methods from a specific country to your customer `['bancontact', 'belfius']`.
                  example: ideal
                  enum: &ref_12
                    - alma
                    - applepay
                    - bacs
                    - bancomatpay
                    - bancontact
                    - banktransfer
                    - belfius
                    - billie
                    - bizum
                    - blik
                    - creditcard
                    - directdebit
                    - eps
                    - giftcard
                    - ideal
                    - in3
                    - kbc
                    - klarna
                    - klarnapaylater
                    - klarnapaynow
                    - klarnasliceit
                    - mbway
                    - multibanco
                    - mybank
                    - paybybank
                    - payconiq
                    - paypal
                    - paysafecard
                    - pointofsale
                    - przelewy24
                    - riverty
                    - satispay
                    - swish
                    - trustly
                    - twint
                    - voucher
                issuer:
                  type:
                    - string
                    - 'null'
                  description: |-
                    **Only relevant for iDEAL, KBC/CBC, gift card, and voucher payments.**

                    **⚠️ With the introduction of iDEAL 2 in 2025, this field will be ignored for iDEAL payments. For more information
                    on the migration, refer to our [help center](https://help.mollie.com/hc/articles/19100313768338-iDEAL-2-0).**

                    Some payment methods are a network of connected banks or card issuers. In these cases, after selecting the payment
                    method, the customer may still need to select the appropriate issuer before the payment can proceed.

                    We provide hosted issuer selection screens, but these screens can be skipped by providing the `issuer` via the API
                    up front.

                    The full list of issuers for a specific method can be retrieved via the Methods API by using the optional
                    `issuers` include.

                    A valid issuer for iDEAL is for example `ideal_INGBNL2A` (for ING Bank).
                  example: ideal_INGBNL2A
                  writeOnly: true
                restrictPaymentMethodsToCountry:
                  type:
                    - string
                    - 'null'
                  description: |-
                    For digital goods in most jurisdictions, you must apply the VAT rate from your customer's country. Choose the VAT
                    rates you have used for the order to ensure your customer's country matches the VAT country.

                    Use this parameter to restrict the payment methods available to your customer to those from a single country.

                    If available, the credit card method will still be offered, but only cards from the allowed country are accepted.

                    The field expects a country code in ISO 3166-1 alpha-2 format, for example `NL`.
                  example: NL
                metadata:
                  oneOf: &ref_13
                    - type: string
                    - type: object
                      properties: {}
                    - type: array
                      items:
                        type: string
                    - type: 'null'
                  description: |-
                    Provide any data you like, for example a string or a JSON object. We will save the data alongside the entity. Whenever
                    you fetch the entity with our API, we will also include the metadata. You can use up to approximately 1kB.
                captureMode:
                  type:
                    - string
                    - 'null'
                  description: |-
                    Indicate if the funds should be captured immediately or if you want to [place a hold](https://docs.mollie.com/docs/place-a-hold-for-a-payment#/) 
                    and capture at a later time.

                    This field needs to be set to `manual` for method `riverty`.
                  example: manual
                  enum:
                    - automatic
                    - manual
                captureDelay:
                  type:
                    - string
                    - 'null'
                  description: |-
                    **Only relevant if you wish to manage authorization and capturing separately.**

                    Some payment methods allow placing a hold on the card or bank account. This hold or 'authorization' can then at a
                    later point either be 'captured' or canceled.

                    By default, we charge the customer's card or bank account immediately when they complete the payment. If you set a
                    capture delay however, we will delay the automatic capturing of the payment for the specified amount of time. For
                    example `8 hours` or `2 days`.

                    To schedule an automatic capture, the `captureMode` must be set to `automatic`.

                    The maximum delay is 7 days (168 hours).

                    Possible values: `... hours` `... days`
                  example: 8 hours
                  pattern: ^\d+ (hours|days)$
                captureBefore:
                  type:
                    - string
                    - 'null'
                  description: |-
                    Indicates the date before which the payment needs to be captured, in ISO 8601 format. From this date onwards we
                    can no longer guarantee a successful capture. The parameter is omitted if the payment is not authorized (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                applicationFee:
                  type:
                    - object
                    - 'null'
                  description: |-
                    With Mollie Connect you can charge fees on payments that your app is processing on behalf of other Mollie
                    merchants.

                    If you use OAuth to create payments on a connected merchant's account, you can charge a fee using this
                    `applicationFee` parameter. If the payment succeeds, the fee will be deducted from the merchant's balance and sent
                    to your own account balance.

                    If instead you want to split a payment on your own account between yourself and a connected merchant, refer to the
                    `routing` parameter.
                  properties:
                    amount:
                      description: |-
                        The fee that you wish to charge.

                        Be careful to leave enough space for Mollie's own fees to be deducted as well. For example, you cannot charge
                        a €0.99 fee on a €1.00 payment.
                      type: object
                      required: *ref_0
                      properties: *ref_1
                    description:
                      type: string
                      description: |-
                        The description of the application fee. This will appear on settlement reports towards both you and the
                        connected merchant.
                      maxLength: 255
                      example: 10
                routing:
                  type:
                    - array
                    - 'null'
                  description: |-
                    *This functionality is not enabled by default. Reach out to our partner management team if you wish to use it.*

                    With Mollie Connect you can charge fees on payments that your app is processing on behalf of other Mollie
                    merchants.

                    If you create payments on your own account that you want to split between yourself and one or more connected
                    merchants, you can use this `routing` parameter to route the payment accordingly.

                    The `routing` parameter should contain an array of objects, with each object describing the destination for a
                    specific portion of the payment.

                    It is not necessary to indicate in the array which portion goes to yourself. After all portions of the total
                    payment amount have been routed, the amount left will be routed to the current organization automatically.

                    If instead you use OAuth to create payments on a connected merchant's account, refer to the `applicationFee`
                    parameter.
                  items:
                    type: object
                    required: &ref_14
                      - resource
                      - id
                      - mode
                      - createdAt
                      - amount
                      - destination
                      - _links
                    properties: &ref_15
                      resource:
                        type: string
                        description: Indicates the response contains a route object. Will always contain the string `route` for this endpoint.
                        readOnly: true
                        example: route
                      id:
                        description: |-
                          The identifier uniquely referring to this route. Mollie will always refer to the route by this ID.
                          Example: `rt_5B8cwPMGnU6qLbRvo7qEZo`.
                        readOnly: true
                        type: string
                        example: rt_5B8cwPMGnU
                      mode:
                        type: string
                        description: Whether this entity was created in live mode or in test mode.
                        enum: *ref_3
                        readOnly: true
                        example: live
                      amount:
                        description: The portion of the total payment amount being routed. Currently only `EUR` payments can be routed.
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      destination:
                        type: object
                        description: The destination of this portion of the payment.
                        required:
                          - type
                          - organizationId
                        properties:
                          type:
                            type: string
                            description: The type of destination. Currently only the destination type `organization` is supported.
                            enum:
                              - organization
                            example: organization
                          organizationId:
                            description: |-
                              Required for destination type `organization`. The ID of the connected organization the funds should be
                              routed to.
                            type: string
                            example: org_1234567
                      createdAt:
                        type: string
                        description: The date and time when the route was created. The date is given in ISO 8601 format.
                        readOnly: true
                        example: '2024-12-12T10:00:00Z'
                      releaseDate:
                        type:
                          - string
                          - 'null'
                        description: |-
                          Optionally, schedule this portion of the payment to be transferred to its destination on a later date. The
                          date must be given in `YYYY-MM-DD` format.

                          If no date is given, the funds become available to the connected merchant as soon as the payment succeeds.
                        example: '2024-12-12'
                      _links:
                        type: object
                        description: An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.
                        required:
                          - self
                          - payment
                        properties:
                          self:
                            type: object
                            description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                            required: &ref_4
                              - href
                              - type
                            properties: &ref_5
                              href:
                                type: string
                                description: The actual URL string.
                                example: https://...
                              type:
                                type: string
                                description: The content type of the page or endpoint the URL points to.
                                example: application/hal+json
                          payment:
                            description: The API resource URL of the [payment](get-payment) that belong to this route.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                sequenceType:
                  type:
                    - string
                    - 'null'
                  description: |-
                    **Only relevant for recurring payments.**

                    Indicate which part of a recurring sequence this payment is for.

                    Recurring payments can only take place if a mandate is available. A common way to establish such a mandate is
                    through a `first` payment. With a `first` payment, the customer agrees to automatic recurring charges taking place
                    on their account in the future.

                    If set to `recurring`, the customer's card is charged automatically.

                    Defaults to `oneoff`, which is a regular non-recurring payment.

                    For PayPal payments, recurring is only possible if your connected PayPal account allows it. You can call our
                    [Methods API](list-methods) with parameter `sequenceType: first` to discover which payment methods on your account
                    are set up correctly for recurring payments.
                  example: oneoff
                  enum:
                    - oneoff
                    - first
                    - recurring
                  default: oneoff
                subscriptionId:
                  type:
                    - string
                    - 'null'
                  description: |-
                    If the payment was automatically created via a subscription, the ID of the [subscription](get-subscription) will
                    be added to the response.
                  readOnly: true
                  example: sub_5B8cwPMGnU
                mandateId:
                  type:
                    - string
                    - 'null'
                  description: |-
                    **Only relevant for recurring payments.**

                    When creating recurring payments, the ID of a specific [mandate](get-mandate) can be supplied to indicate which of
                    the customer's accounts should be credited.
                  example: mdt_5B8cwPMGnU
                customerId:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The ID of the [customer](get-customer) the payment is being created for. This is used primarily for recurring
                    payments, but can also be used on regular payments to enable single-click payments.

                    If `sequenceType` is set to `recurring`, this field is required.
                  example: cst_5B8cwPMGnU
                profileId:
                  type: string
                  description: |-
                    The identifier referring to the [profile](get-profile) this entity belongs to.

                    When using an API Key, the `profileId` can be omitted since it is linked to the key. However, for OAuth and
                    Organization tokens, the `profileId` is required.

                    For more information, see [Authentication](authentication).
                  example: pfl_5B8cwPMGnU
                settlementId:
                  type:
                    - string
                    - 'null'
                  description: The identifier referring to the [settlement](get-settlement) this payment was settled with.
                  readOnly: true
                  example: stl_5B8cwPMGnU
                orderId:
                  type:
                    - string
                    - 'null'
                  description: If the payment was created for an [order](get-order), the ID of that order will be part of the response.
                  readOnly: true
                  example: ord_5B8cwPMGnU
                status:
                  type: string
                  description: |-
                    The payment's status. Refer to the [documentation regarding statuses](https://docs.mollie.com/docs/status-change#/) for more info about which
                    statuses occur at what point.
                  enum:
                    - open
                    - pending
                    - authorized
                    - paid
                    - canceled
                    - expired
                    - failed
                  readOnly: true
                  example: open
                statusReason:
                  type: &ref_16
                    - object
                    - 'null'
                  description: |-
                    This object offers details about the status of a payment. Currently it is only available for point-of-sale
                    payments.

                    You can find more information about the possible values of this object on
                    [this page](status-reasons).**
                  readOnly: true
                  required: &ref_17
                    - code
                    - message
                  properties: &ref_18
                    code:
                      type: string
                      description: A machine-readable code that indicates the reason for the payment's status.
                      example: insufficient_funds
                    message:
                      type: string
                      description: A description of the status reason, localized according to the payment `locale`.
                      example: |-
                        The account associated with the card has insufficient funds. The shopper should use another payment method or
                        contact their bank.
                isCancelable:
                  type:
                    - boolean
                    - 'null'
                  description: Whether the payment can be canceled. This parameter is omitted if the payment reaches a final state.
                  readOnly: true
                  example: true
                details:
                  type:
                    - object
                    - 'null'
                  description: |-
                    An object containing payment details collected during the payment process. For example, details may include the
                    customer's card or bank details and a payment reference. For the full list of details, please refer to the
                    [method-specific parameters](extra-payment-parameters) guide.
                  readOnly: true
                  properties: {}
                  additionalProperties: true
                createdAt:
                  type: string
                  description: The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
                  readOnly: true
                  example: '2024-03-20T09:13:37.0Z'
                authorizedAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment became authorized, in ISO 8601 format. This parameter is omitted if the payment is
                    not authorized (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                paidAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment became paid, in ISO 8601 format. This parameter is omitted if the payment is not
                    completed (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                canceledAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment was canceled, in ISO 8601 format. This parameter is omitted if the payment is not
                    canceled (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                expiresAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment will expire, in ISO 8601 format. This parameter is omitted if the payment can no
                    longer expire.
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                expiredAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment was expired, in ISO 8601 format. This parameter is omitted if the payment did not
                    expire (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                failedAt:
                  type:
                    - string
                    - 'null'
                  description: |-
                    The date and time the payment failed, in ISO 8601 format. This parameter is omitted if the payment did not fail
                    (yet).
                  readOnly: true
                  example: '2024-03-20T09:28:37.0Z'
                dueDate:
                  type: string
                  description: The date by which the payment should be completed in `YYYY-MM-DD` format
                  example: '2025-01-01'
                  writeOnly: true
                testmode:
                  type: &ref_19
                    - boolean
                    - 'null'
                  description: |-
                    Whether to create the entity in test mode or live mode.

                    Most API credentials are specifically created for either live mode or test mode, in which case this parameter can be
                    omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting
                    `testmode` to `true`.
                  writeOnly: true
                  example: false
                _links:
                  type: object
                  description: An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.
                  required:
                    - self
                    - dashboard
                  properties:
                    self:
                      type: object
                      description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                      required: *ref_4
                      properties: *ref_5
                    checkout:
                      description: The URL your customer should visit to make the payment. This is where you should redirect the customer to.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    mobileAppCheckout:
                      description: The deeplink URL to the app of the payment method. Currently only available for `bancontact`.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    changePaymentState:
                      description: |-
                        For test mode payments in certain scenarios, a hosted interface is available to help you test different
                        payment states.

                        Firstly, for recurring test mode payments. Recurring payments do not have a checkout URL, because these
                        payments are executed without any user interaction.

                        Secondly, for paid test mode payments. The payment state screen will then allow you to create a refund or
                        chargeback for the test payment.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    dashboard:
                      description: Direct link to the payment in the Mollie Dashboard.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    refunds:
                      description: The API resource URL of the [refunds](list-payment-refunds) that belong to this payment.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    chargebacks:
                      description: |-
                        The API resource URL of the [chargebacks](list-payment-chargebacks) that belong to this
                        payment.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    captures:
                      description: The API resource URL of the [captures](list-payment-captures) that belong to this payment.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    settlement:
                      description: |-
                        The API resource URL of the [settlement](get-settlement) this payment has been settled with.
                        Not present if not yet settled.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    customer:
                      description: The API resource URL of the [customer](get-customer).
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    mandate:
                      description: The API resource URL of the [mandate](get-mandate).
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    subscription:
                      description: The API resource URL of the [subscription](get-subscription).
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    order:
                      description: |-
                        The API resource URL of the [order](get-order) this payment was created for. Not present if not created for an
                        order.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    terminal:
                      description: |-
                        The API resource URL of the [terminal](get-terminal) this payment was created for. Only present for
                        point-of-sale payments.
                      type: object
                      required: *ref_4
                      properties: *ref_5
                    documentation:
                      type: object
                      description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                      required: *ref_4
                      properties: *ref_5
                  readOnly: true
      responses:
        '201':
          description: The newly created payment object.
          content:
            application/hal+json:
              schema:
                allOf: &ref_22
                  - required:
                      - resource
                      - id
                      - mode
                      - createdAt
                      - amount
                      - description
                      - status
                      - profileId
                      - sequenceType
                      - _links
                    type: object
                    properties: &ref_109
                      resource:
                        type: string
                        description: Indicates the response contains a payment object. Will always contain the string `payment` for this endpoint.
                        readOnly: true
                        example: payment
                      id:
                        description: |-
                          The identifier uniquely referring to this payment. Mollie assigns this identifier at payment creation time. Mollie
                          will always refer to the payment by this ID. Example: `tr_5B8cwPMGnU6qLbRvo7qEZo`.
                        readOnly: true
                        type: string
                        example: tr_5B8cwPMGnU
                      mode:
                        type: string
                        description: Whether this entity was created in live mode or in test mode.
                        enum: *ref_3
                        readOnly: true
                        example: live
                      description:
                        type: string
                        description: |-
                          The description of the payment. This will be shown to your customer on their card or bank statement when possible.
                          We truncate the description automatically according to the limits of the used payment method. The description is
                          also visible in any exports you generate.

                          We recommend you use a unique identifier so that you can always link the payment to the order in your back office.
                          This is particularly useful for bookkeeping.

                          The maximum length of the description field differs per payment method, with the absolute maximum being 255
                          characters. The API will not reject strings longer than the maximum length but it will truncate them to fit.
                        maxLength: 255
                        example: Chess Board
                      amount:
                        description: |-
                          The amount that you want to charge, e.g. `{currency:"EUR", value:"1000.00"}` if you would want to charge €1000.00.

                          You can find the minimum and maximum amounts per payment method in our help center. Additionally, they can be
                          retrieved using the Get method endpoint.

                          If a tip was added for a Point-of-Sale payment, the amount will be updated to reflect the initial amount plus the
                          tip amount.
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      amountRefunded:
                        description: |-
                          The total amount that is already refunded. Only available when refunds are available for this payment. For some
                          payment methods, this amount may be higher than the payment amount, for example to allow reimbursement of the
                          costs for a return shipment to the customer.
                        readOnly: true
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      amountRemaining:
                        description: The remaining amount that can be refunded. Only available when refunds are available for this payment.
                        readOnly: true
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      amountCaptured:
                        description: The total amount that is already captured for this payment. Only available when this payment supports captures.
                        readOnly: true
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      amountChargedBack:
                        description: |-
                          The total amount that was charged back for this payment. Only available when the total charged back amount is not
                          zero.
                        readOnly: true
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      settlementAmount:
                        description: |-
                          This optional field will contain the approximate amount that will be settled to your account, converted to the
                          currency your account is settled in.

                          Any amounts not settled by Mollie will not be reflected in this amount, e.g. PayPal or gift cards. If no amount is
                          settled by Mollie the `settlementAmount` is omitted from the response.

                          Please note that this amount might be recalculated and changed when the status of the payment changes. We suggest
                          using the List balance transactions endpoint instead to get more accurate settlement amounts for your payments.
                        readOnly: true
                        type: object
                        required: *ref_0
                        properties: *ref_1
                      redirectUrl:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The URL your customer will be redirected to after the payment process.

                          It could make sense for the redirectUrl to contain a unique identifier – like your order ID – so you can show the
                          right page referencing the order when your customer returns.

                          The parameter is normally required, but can be omitted for recurring payments (`sequenceType: recurring`) and for
                          Apple Pay payments with an `applePayPaymentToken`.
                        example: https://example.org/redirect
                      cancelUrl:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The URL your customer will be redirected to when the customer explicitly cancels the payment. If this URL is not
                          provided, the customer will be redirected to the `redirectUrl` instead — see above.

                          Mollie will always give you status updates via webhooks, including for the canceled status. This parameter is
                          therefore entirely optional, but can be useful when implementing a dedicated customer-facing flow to handle
                          payment cancellations.
                        example: https://example.org/cancel
                      webhookUrl:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The webhook URL where we will send payment status updates to.

                          The webhookUrl is optional, but without a webhook you will miss out on important status changes to your payment.

                          The webhookUrl must be reachable from Mollie's point of view, so you cannot use `localhost`. If you want to use
                          webhook during development on `localhost`, you must use a tool like ngrok to have the webhooks delivered to your
                          local machine.
                        example: https://example.org/webhooks
                      lines:
                        type:
                          - array
                          - 'null'
                        description: |-
                          Optionally provide the order lines for the payment. Each line contains details such as a description of the item
                          ordered and its price.

                          All lines must have the same currency as the payment.

                          Required for payment methods `billie`, `in3`, `klarna`, `riverty` and `voucher`.
                        items:
                          allOf:
                            - type: object
                              required: *ref_6
                              properties: *ref_7
                            - type: object
                              properties:
                                recurring:
                                  description: |-
                                    The details of subsequent recurring billing cycles. These parameters are used in the Mollie Checkout
                                    to inform the shopper of the details for recurring products in the payments.
                                  type: object
                                  required: *ref_8
                                  properties: *ref_9
                      billingAddress:
                        description: |-
                          The customer's billing address details. We advise to provide these details to improve fraud protection and
                          conversion.

                          Should include `email` or a valid postal address consisting of `streetAndNumber`, `postalCode`, `city` and
                          `country`.

                          Required for payment method `in3`, `klarna`, `billie` and `riverty`.
                        type: object
                        properties: *ref_2
                      shippingAddress:
                        description: |-
                          The customer's shipping address details. We advise to provide these details to improve fraud protection and
                          conversion.

                          Should include `email` or a valid postal address consisting of `streetAndNumber`, `postalCode`, `city` and
                          `country`.
                        type: object
                        properties: *ref_2
                      locale:
                        type:
                          - string
                          - 'null'
                        description: |-
                          Allows you to preset the language to be used in the hosted payment pages shown to the customer. Setting a locale
                          is highly recommended and will greatly improve your conversion rate. When this parameter is omitted the browser
                          language will be used instead if supported by the payment method. You can provide any `xx_XX` format ISO 15897
                          locale, but our hosted payment pages currently only support the specified languages.

                          For bank transfer payments specifically, the locale will determine the target bank account the customer has to
                          transfer the money to. We have dedicated bank accounts for Belgium, Germany, and The Netherlands. Having the
                          customer use a local bank account greatly increases the conversion and speed of payment.
                        enum: *ref_10
                        example: en_US
                      countryCode:
                        type:
                          - string
                          - 'null'
                        description: |-
                          This optional field contains your customer's ISO 3166-1 alpha-2 country code, detected by us during checkout. This
                          field is omitted if the country code was not detected.
                        example: BE
                        minLength: 2
                        maxLength: 2
                        readOnly: true
                      method:
                        type: *ref_11
                        description: |-
                          Normally, a payment method screen is shown. However, when using this parameter, you can choose a specific payment
                          method and your customer will skip the selection screen and is sent directly to the chosen payment method. The
                          parameter enables you to fully integrate the payment method selection into your website.

                          You can also specify the methods in an array. By doing so we will still show the payment method selection screen
                          but will only show the methods specified in the array. For example, you can use this functionality to only show
                          payment methods from a specific country to your customer `['bancontact', 'belfius']`.
                        example: ideal
                        enum: *ref_12
                      issuer:
                        type:
                          - string
                          - 'null'
                        description: |-
                          **Only relevant for iDEAL, KBC/CBC, gift card, and voucher payments.**

                          **⚠️ With the introduction of iDEAL 2 in 2025, this field will be ignored for iDEAL payments. For more information
                          on the migration, refer to our [help center](https://help.mollie.com/hc/articles/19100313768338-iDEAL-2-0).**

                          Some payment methods are a network of connected banks or card issuers. In these cases, after selecting the payment
                          method, the customer may still need to select the appropriate issuer before the payment can proceed.

                          We provide hosted issuer selection screens, but these screens can be skipped by providing the `issuer` via the API
                          up front.

                          The full list of issuers for a specific method can be retrieved via the Methods API by using the optional
                          `issuers` include.

                          A valid issuer for iDEAL is for example `ideal_INGBNL2A` (for ING Bank).
                        example: ideal_INGBNL2A
                        writeOnly: true
                      restrictPaymentMethodsToCountry:
                        type:
                          - string
                          - 'null'
                        description: |-
                          For digital goods in most jurisdictions, you must apply the VAT rate from your customer's country. Choose the VAT
                          rates you have used for the order to ensure your customer's country matches the VAT country.

                          Use this parameter to restrict the payment methods available to your customer to those from a single country.

                          If available, the credit card method will still be offered, but only cards from the allowed country are accepted.

                          The field expects a country code in ISO 3166-1 alpha-2 format, for example `NL`.
                        example: NL
                      metadata:
                        oneOf: *ref_13
                        description: |-
                          Provide any data you like, for example a string or a JSON object. We will save the data alongside the entity. Whenever
                          you fetch the entity with our API, we will also include the metadata. You can use up to approximately 1kB.
                      captureMode:
                        type:
                          - string
                          - 'null'
                        description: |-
                          Indicate if the funds should be captured immediately or if you want to [place a hold](https://docs.mollie.com/docs/place-a-hold-for-a-payment#/) 
                          and capture at a later time.

                          This field needs to be set to `manual` for method `riverty`.
                        example: manual
                        enum:
                          - automatic
                          - manual
                      captureDelay:
                        type:
                          - string
                          - 'null'
                        description: |-
                          **Only relevant if you wish to manage authorization and capturing separately.**

                          Some payment methods allow placing a hold on the card or bank account. This hold or 'authorization' can then at a
                          later point either be 'captured' or canceled.

                          By default, we charge the customer's card or bank account immediately when they complete the payment. If you set a
                          capture delay however, we will delay the automatic capturing of the payment for the specified amount of time. For
                          example `8 hours` or `2 days`.

                          To schedule an automatic capture, the `captureMode` must be set to `automatic`.

                          The maximum delay is 7 days (168 hours).

                          Possible values: `... hours` `... days`
                        example: 8 hours
                        pattern: ^\d+ (hours|days)$
                      captureBefore:
                        type:
                          - string
                          - 'null'
                        description: |-
                          Indicates the date before which the payment needs to be captured, in ISO 8601 format. From this date onwards we
                          can no longer guarantee a successful capture. The parameter is omitted if the payment is not authorized (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      applicationFee:
                        type:
                          - object
                          - 'null'
                        description: |-
                          With Mollie Connect you can charge fees on payments that your app is processing on behalf of other Mollie
                          merchants.

                          If you use OAuth to create payments on a connected merchant's account, you can charge a fee using this
                          `applicationFee` parameter. If the payment succeeds, the fee will be deducted from the merchant's balance and sent
                          to your own account balance.

                          If instead you want to split a payment on your own account between yourself and a connected merchant, refer to the
                          `routing` parameter.
                        properties:
                          amount:
                            description: |-
                              The fee that you wish to charge.

                              Be careful to leave enough space for Mollie's own fees to be deducted as well. For example, you cannot charge
                              a €0.99 fee on a €1.00 payment.
                            type: object
                            required: *ref_0
                            properties: *ref_1
                          description:
                            type: string
                            description: |-
                              The description of the application fee. This will appear on settlement reports towards both you and the
                              connected merchant.
                            maxLength: 255
                            example: 10
                      routing:
                        type:
                          - array
                          - 'null'
                        description: |-
                          *This functionality is not enabled by default. Reach out to our partner management team if you wish to use it.*

                          With Mollie Connect you can charge fees on payments that your app is processing on behalf of other Mollie
                          merchants.

                          If you create payments on your own account that you want to split between yourself and one or more connected
                          merchants, you can use this `routing` parameter to route the payment accordingly.

                          The `routing` parameter should contain an array of objects, with each object describing the destination for a
                          specific portion of the payment.

                          It is not necessary to indicate in the array which portion goes to yourself. After all portions of the total
                          payment amount have been routed, the amount left will be routed to the current organization automatically.

                          If instead you use OAuth to create payments on a connected merchant's account, refer to the `applicationFee`
                          parameter.
                        items:
                          type: object
                          required: *ref_14
                          properties: *ref_15
                      sequenceType:
                        type:
                          - string
                          - 'null'
                        description: |-
                          **Only relevant for recurring payments.**

                          Indicate which part of a recurring sequence this payment is for.

                          Recurring payments can only take place if a mandate is available. A common way to establish such a mandate is
                          through a `first` payment. With a `first` payment, the customer agrees to automatic recurring charges taking place
                          on their account in the future.

                          If set to `recurring`, the customer's card is charged automatically.

                          Defaults to `oneoff`, which is a regular non-recurring payment.

                          For PayPal payments, recurring is only possible if your connected PayPal account allows it. You can call our
                          [Methods API](list-methods) with parameter `sequenceType: first` to discover which payment methods on your account
                          are set up correctly for recurring payments.
                        example: oneoff
                        enum:
                          - oneoff
                          - first
                          - recurring
                        default: oneoff
                      subscriptionId:
                        type:
                          - string
                          - 'null'
                        description: |-
                          If the payment was automatically created via a subscription, the ID of the [subscription](get-subscription) will
                          be added to the response.
                        readOnly: true
                        example: sub_5B8cwPMGnU
                      mandateId:
                        type:
                          - string
                          - 'null'
                        description: |-
                          **Only relevant for recurring payments.**

                          When creating recurring payments, the ID of a specific [mandate](get-mandate) can be supplied to indicate which of
                          the customer's accounts should be credited.
                        example: mdt_5B8cwPMGnU
                      customerId:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The ID of the [customer](get-customer) the payment is being created for. This is used primarily for recurring
                          payments, but can also be used on regular payments to enable single-click payments.

                          If `sequenceType` is set to `recurring`, this field is required.
                        example: cst_5B8cwPMGnU
                      profileId:
                        type: string
                        description: |-
                          The identifier referring to the [profile](get-profile) this entity belongs to.

                          When using an API Key, the `profileId` can be omitted since it is linked to the key. However, for OAuth and
                          Organization tokens, the `profileId` is required.

                          For more information, see [Authentication](authentication).
                        example: pfl_5B8cwPMGnU
                      settlementId:
                        type:
                          - string
                          - 'null'
                        description: The identifier referring to the [settlement](get-settlement) this payment was settled with.
                        readOnly: true
                        example: stl_5B8cwPMGnU
                      orderId:
                        type:
                          - string
                          - 'null'
                        description: If the payment was created for an [order](get-order), the ID of that order will be part of the response.
                        readOnly: true
                        example: ord_5B8cwPMGnU
                      status:
                        type: string
                        description: |-
                          The payment's status. Refer to the [documentation regarding statuses](https://docs.mollie.com/docs/status-change#/) for more info about which
                          statuses occur at what point.
                        enum:
                          - open
                          - pending
                          - authorized
                          - paid
                          - canceled
                          - expired
                          - failed
                        readOnly: true
                        example: open
                      statusReason:
                        type: *ref_16
                        description: |-
                          This object offers details about the status of a payment. Currently it is only available for point-of-sale
                          payments.

                          You can find more information about the possible values of this object on
                          [this page](status-reasons).**
                        readOnly: true
                        required: *ref_17
                        properties: *ref_18
                      isCancelable:
                        type:
                          - boolean
                          - 'null'
                        description: Whether the payment can be canceled. This parameter is omitted if the payment reaches a final state.
                        readOnly: true
                        example: true
                      details:
                        type:
                          - object
                          - 'null'
                        description: |-
                          An object containing payment details collected during the payment process. For example, details may include the
                          customer's card or bank details and a payment reference. For the full list of details, please refer to the
                          [method-specific parameters](extra-payment-parameters) guide.
                        readOnly: true
                        properties: {}
                        additionalProperties: true
                      createdAt:
                        type: string
                        description: The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
                        readOnly: true
                        example: '2024-03-20T09:13:37.0Z'
                      authorizedAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment became authorized, in ISO 8601 format. This parameter is omitted if the payment is
                          not authorized (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      paidAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment became paid, in ISO 8601 format. This parameter is omitted if the payment is not
                          completed (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      canceledAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment was canceled, in ISO 8601 format. This parameter is omitted if the payment is not
                          canceled (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      expiresAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment will expire, in ISO 8601 format. This parameter is omitted if the payment can no
                          longer expire.
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      expiredAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment was expired, in ISO 8601 format. This parameter is omitted if the payment did not
                          expire (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      failedAt:
                        type:
                          - string
                          - 'null'
                        description: |-
                          The date and time the payment failed, in ISO 8601 format. This parameter is omitted if the payment did not fail
                          (yet).
                        readOnly: true
                        example: '2024-03-20T09:28:37.0Z'
                      dueDate:
                        type: string
                        description: The date by which the payment should be completed in `YYYY-MM-DD` format
                        example: '2025-01-01'
                        writeOnly: true
                      testmode:
                        type: *ref_19
                        description: |-
                          Whether to create the entity in test mode or live mode.

                          Most API credentials are specifically created for either live mode or test mode, in which case this parameter can be
                          omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting
                          `testmode` to `true`.
                        writeOnly: true
                        example: false
                      _links:
                        type: object
                        description: An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.
                        required:
                          - self
                          - dashboard
                        properties:
                          self:
                            type: object
                            description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                            required: *ref_4
                            properties: *ref_5
                          checkout:
                            description: The URL your customer should visit to make the payment. This is where you should redirect the customer to.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          mobileAppCheckout:
                            description: The deeplink URL to the app of the payment method. Currently only available for `bancontact`.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          changePaymentState:
                            description: |-
                              For test mode payments in certain scenarios, a hosted interface is available to help you test different
                              payment states.

                              Firstly, for recurring test mode payments. Recurring payments do not have a checkout URL, because these
                              payments are executed without any user interaction.

                              Secondly, for paid test mode payments. The payment state screen will then allow you to create a refund or
                              chargeback for the test payment.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          dashboard:
                            description: Direct link to the payment in the Mollie Dashboard.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          refunds:
                            description: The API resource URL of the [refunds](list-payment-refunds) that belong to this payment.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          chargebacks:
                            description: |-
                              The API resource URL of the [chargebacks](list-payment-chargebacks) that belong to this
                              payment.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          captures:
                            description: The API resource URL of the [captures](list-payment-captures) that belong to this payment.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          settlement:
                            description: |-
                              The API resource URL of the [settlement](get-settlement) this payment has been settled with.
                              Not present if not yet settled.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          customer:
                            description: The API resource URL of the [customer](get-customer).
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          mandate:
                            description: The API resource URL of the [mandate](get-mandate).
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          subscription:
                            description: The API resource URL of the [subscription](get-subscription).
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          order:
                            description: |-
                              The API resource URL of the [order](get-order) this payment was created for. Not present if not created for an
                              order.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          terminal:
                            description: |-
                              The API resource URL of the [terminal](get-terminal) this payment was created for. Only present for
                              point-of-sale payments.
                            type: object
                            required: *ref_4
                            properties: *ref_5
                          documentation:
                            type: object
                            description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                            required: *ref_4
                            properties: *ref_5
                        readOnly: true
                  - type: object
                    properties:
                      method:
                        description: |-
                          The payment method used for this transaction. If a specific method was selected during payment initialization,
                          this field reflects that choice.
                        type: *ref_11
                        example: ideal
                        enum: *ref_12
              examples:
                create-payment-201-1:
                  summary: The payment object
                  value: &ref_26
                    resource: payment
                    id: tr_5B8cwPMGnU6qLbRvo7qEZo
                    mode: live
                    amount:
                      value: '10.00'
                      currency: EUR
                    description: 'Order #12345'
                    sequenceType: oneoff
                    redirectUrl: https://webshop.example.org/order/12345/
                    webhookUrl: https://webshop.example.org/payments/webhook/
                    metadata: '{"order_id":12345}'
                    profileId: pfl_QkEhN94Ba
                    status: open
                    isCancelable: false
                    createdAt: '2024-03-20T09:13:37.0Z'
                    expiresAt: '2024-03-20T09:28:37.0Z'
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      checkout:
                        href: https://www.mollie.com/checkout/select-method/7UhSN1zuXS
                        type: text/html
                      dashboard:
                        href: https://www.mollie.com/dashboard/org_12345678/payments/tr_5B8cwPMGnU6qLbRvo7qEZo
                        type: text/html
                      documentation:
                        href: ...
                        type: text/html
                create-payment-201-2:
                  summary: Minimum viable request
                  x-request: ./../_components/requests/common-payment-requests.yaml#/api-minimum-viable-request
                  value:
                    resource: payment
                    id: tr_KQb4E3WfpA
                    mode: test
                    createdAt: '2021-12-14T12:53:25+00:00'
                    amount:
                      value: '10.00'
                      currency: EUR
                    description: I can do payments now
                    method: ideal
                    metadata: null
                    status: open
                    isCancelable: false
                    expiresAt: '2021-12-14T13:08:25+00:00'
                    profileId: pfl_fFdmWR2qQU
                    sequenceType: oneoff
                    redirectUrl: https://example.com
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      checkout:
                        href: https://www.mollie.com/checkout/select-method/KQb4E3WfpA
                        type: text/html
                      dashboard:
                        href: https://www.mollie.com/dashboard/org_9253561/payments/tr_KQb4E3WfpA
                        type: text/html
                      documentation:
                        href: ...
                        type: text/html
                create-payment-201-3:
                  summary: Dutch credit card payment with address
                  x-request: ./../_components/requests/common-payment-requests.yaml#/api-dutch-credit-card-payment-with-address
                  value:
                    resource: payment
                    id: tr_92M7kM99Rg
                    mode: test
                    createdAt: '2021-12-29T13:39:35+00:00'
                    amount:
                      value: '10.00'
                      currency: EUR
                    description: This is the description
                    method: creditcard
                    metadata: null
                    status: open
                    isCancelable: false
                    expiresAt: '2021-12-29T13:56:35+00:00'
                    locale: nl_NL
                    profileId: pfl_85dxyKqNHa
                    sequenceType: oneoff
                    redirectUrl: https://example.com/redirect
                    webhookUrl: https://example.com/webhook
                    settlementAmount:
                      value: '10.00'
                      currency: EUR
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      checkout:
                        href: https://www.mollie.com/checkout/test-mode?method=creditcard&token=3.onk00c
                        type: text/html
                      dashboard:
                        href: https://www.mollie.com/dashboard/org_13514547/payments/tr_92M7kM99Rg
                        type: text/html
                      documentation:
                        href: ...
                        type: text/html
                create-payment-201-4:
                  summary: Protected Paypal payment
                  x-request: ./../_components/requests/common-payment-requests.yaml#/api-protected-paypal-payment
                  value:
                    resource: payment
                    id: tr_RyNpP6zd9t
                    mode: test
                    createdAt: '2022-01-14T14:49:45+00:00'
                    amount:
                      value: '10.00'
                      currency: EUR
                    description: This is the description Order ABS123
                    method: paypal
                    metadata: null
                    status: open
                    isCancelable: false
                    expiresAt: '2022-01-14T17:49:45+00:00'
                    locale: nl_NL
                    profileId: pfl_zcfJRjkf6P
                    sequenceType: oneoff
[...]
