openapi: 3.1.0
info:
  title: Mollie API
  version: 1.0.0
  license:
    name: Attribution-NonCommercial-ShareAlike 4.0 International
    identifier: CC-BY-NC-SA-4.0
servers:
  - url: https://api.mollie.com/v2
security:
  - apiKey: []
  - oAuth: []
tags:
  - name: Balances API
    x-displayName: Balances API
  - name: Settlements API
    x-displayName: Settlements API
  - name: Invoices API
    x-displayName: Invoices API
  - name: Permissions API
    x-displayName: Permissions API
  - name: Organizations API
    x-displayName: Organizations API
  - name: Profiles API
    x-displayName: Profiles API
  - name: Onboarding API
    x-displayName: Onboarding API
  - name: Capabilities API
    x-displayName: Capabilities API
  - name: Clients API
    x-displayName: Clients API
  - name: Client Links API
    x-displayName: Client Links API
  - name: Orders API
    x-displayName: Orders API
  - name: Shipments API
    x-displayName: Shipments API
  - name: Payments API
    x-displayName: Payments API
  - name: Methods API
    x-displayName: Methods API
  - name: Refunds API
    x-displayName: Refunds API
  - name: Chargebacks API
    x-displayName: Chargebacks API
  - name: Captures API
    x-displayName: Captures API
  - name: Wallets API
    x-displayName: Wallets API
  - name: Payment Links API
    x-displayName: Payment Links API
  - name: Terminals API
    x-displayName: Terminals API
  - name: Delayed Routing API
    x-displayName: Delayed Routing API
  - name: Customers API
    x-displayName: Customers API
  - name: Mandates API
    x-displayName: Mandates API
  - name: Subscriptions API
    x-displayName: Subscriptions API
paths:
  /balances:
    get:
      summary: List balances
      tags:
        - Balances API
      operationId: list-balances
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve a list of the organization's balances, including the primary balance.

        The results are paginated.

        > 🔑 Access with
        >
        > [Access token with **balances.read**](/reference/authentication)
      parameters:
        - name: currency
          description: 'Optionally only return balances with the given currency. For example: `EUR`.'
          in: query
          schema:
            type:
              - string
              - 'null'
            example: EUR
        - schema:
            type: string
            example: bal_gVMhHKqSSRYJyPsuoPNFH
          name: from
          description: Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.
          in: query
        - name: limit
          description: The maximum number of items to return. Defaults to 50 items.
          in: query
          schema: &ref_9
            type:
              - integer
              - 'null'
            minimum: 1
            maximum: 250
            default: 50
            example: 50
        - name: testmode
          description: |-
            Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.

            Test entities cannot be retrieved when the endpoint is set to live mode, and vice versa.
          in: query
          schema: &ref_4
            type:
              - boolean
              - 'null'
            default: false
            example: false
      responses:
        '200':
          description: A list of balance objects. For a complete reference of the balance object, refer to the [Get balance endpoint](get-balance) documentation.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: |-
                      The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.

                      The maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.
                    minimum: 1
                    maximum: 250
                    example: 5
                  _embedded:
                    type: object
                    properties:
                      balances:
                        description: An array of balance objects. For a complete reference of the balance object, refer to the [Get balance endpoint](get-balance) documentation.
                        type: array
                        items:
                          type: object
                  _links:
                    type: object
                    description: Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.
                    properties: &ref_10
                      self:
                        description: The URL to the current set of items.
                        type: object
                        properties: &ref_2
                          href:
                            type: string
                            description: The actual URL string.
                            example: https://...
                          type:
                            type: string
                            description: The content type of the page or endpoint the URL points to.
                            example: application/hal+json
                      previous:
                        description: The previous set of items, if available.
                        type: &ref_0
                          - object
                          - 'null'
                        properties: &ref_1
                          href:
                            type: string
                            description: The actual URL string.
                            example: https://...
                          type:
                            type: string
                            description: The content type of the page or endpoint the URL points to.
                            example: application/hal+json
                      next:
                        description: The next set of items, if available.
                        type: *ref_0
                        properties: *ref_1
                      documentation:
                        type: object
                        description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                        properties: *ref_2
              examples:
                list-balances-200-1:
                  summary: A list of balance objects
                  value:
                    count: 5
                    _embedded:
                      balances:
                        - resource: balance
                          id: bal_gVMhHKqSSRYJyPsuoPNFH
                          mode: live
                          currency: EUR
                          description: Primary balance
                          availableAmount:
                            currency: EUR
                            value: '905.25'
                          pendingAmount:
                            currency: EUR
                            value: '0.00'
                          transferFrequency: twice-a-month
                          transferThreshold:
                            currency: EUR
                            value: '5.00'
                          transferReference: Mollie settlement
                          transferDestination:
                            type: bank-account
                            beneficiaryName: John Doe
                            bankAccount: NL55INGB0000000000
                          status: active
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                        - {}
                        - {}
                        - {}
                        - {}
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/balances?from=bal_gVMhHKqSSRYJyPsuoPABC&limit=5
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                list-balances-200-2:
                  summary: List balances
                  value:
                    _embedded:
                      balances:
                        - resource: balance
                          id: bal_xRc8rYKTwJeENdvKouVJH
                          mode: live
                          createdAt: '2022-07-12T09:50:21+00:00'
                          currency: CHF
                          availableAmount:
                            value: '0.00'
                            currency: CHF
                          pendingAmount:
                            value: '0.00'
                            currency: CHF
                          status: active
                          transferFrequency: twice-a-week
                          transferThreshold:
                            value: '50.00'
                            currency: CHF
                          transferReference: null
                          transferDestination:
                            type: bank-account
                            beneficiaryName: '***'
                            bankAccount: '***'
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                        - resource: balance
                          id: bal_CKjKwQdjCwCSArXFAJNFH
                          mode: live
                          createdAt: '2019-12-06T10:09:32+00:00'
                          currency: EUR
                          availableAmount:
                            value: '3.82'
                            currency: EUR
                          pendingAmount:
                            value: '5.41'
                            currency: EUR
                          status: active
                          transferFrequency: daily
                          transferThreshold:
                            value: '5.00'
                            currency: EUR
                          transferReference: null
                          transferDestination:
                            type: bank-account
                            beneficiaryName: '***'
                            bankAccount: '***'
                          _links:
                            self:
                              href: ...
                              type: application/hal+json
                    count: 2
                    _links:
                      documentation:
                        href: ...
                        type: text/html
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next: null
        '400':
          description: The request contains issues. For example, if the specified `from` value is not a valid ID.
          content: &ref_11
            application/hal+json:
              schema:
                type: object
                description: An error response object.
                properties: &ref_3
                  status:
                    type: integer
                    description: The status code of the error message. This is always the same code as the status code of the HTTP message itself.
                    minimum: 400
                    maximum: 599
                    example: 404
                  title:
                    type: string
                    description: The HTTP reason phrase of the error. For example, for a `404` error, the `title` will be `Not Found`.
                    example: Not Found
                  detail:
                    type: string
                    description: A detailed human-readable description of the error that occurred.
                    example: The resource does not exist
                  field:
                    type:
                      - string
                      - 'null'
                    description: If the error was caused by a value provided by you in a specific field, the `field` property will contain the name of the field that caused the issue.
                    example: description
                  _links:
                    type: object
                    properties:
                      documentation:
                        description: The URL to the generic Mollie API error handling guide.
                        properties:
                          href:
                            type: string
                            default: https://docs.mollie.com/errors
                          type:
                            type: string
                            default: text/html
                        type: object
              example:
                status: 400
                title: Bad Request
                detail: Invalid cursor value
                field: from
                _links:
                  documentation:
                    href: ...
                    type: text/html
        '404':
          description: No entity with this ID exists.
          content: &ref_7
            application/hal+json:
              schema:
                type: object
                description: An error response object.
                properties: *ref_3
              example:
                status: 404
                title: Not Found
                detail: No entity exists with token '7UhSN1zuXS'
                _links:
                  documentation:
                    href: ...
                    type: text/html
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balances = $mollie->balances();
            install: composer require mollie/mollie-api-php
          - language: node
            code: |-
              /*
              We don't have a Node.js code example for this
              API call yet.

              If you have some time to spare, feel free to
              share suggestions on our Discord:
              https://discord.gg/VaTVkXB4aQ
              */
            install: npm install @mollie/api-client
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balances = mollie_client.balances.list()
            install: pip install mollie-api-python
          - language: ruby
            code: |-
              require 'mollie-api-ruby'

              Mollie::Client.configure do |config|
                config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'
              end

              balances = Mollie::Balance.all
            install: gem install mollie-api-ruby
      x-speakeasy-name-override: list
      x-speakeasy-group: balances
  /balances/{id}:
    parameters:
      - schema:
          type: string
          example: bal_gVMhHKqSSRYJyPsuoPNFH
        name: id
        description: Provide the ID of the item you want to perform this operation on.
        in: path
        required: true
    get:
      summary: Get balance
      tags:
        - Balances API
      operationId: get-balance
      security:
        - oAuth:
            - balances.read
      description: |-
        When processing payments with Mollie, we put all pending funds — usually minus Mollie fees — on a balance. Once you have linked a bank account to your Mollie account, we can pay out your balance towards this bank account.

        With the Balances API you can retrieve your current balance. The response includes two amounts:

        * The *pending amount*. These are payments that have been marked as `paid`, but are not yet available on your balance.
        * The *available amount*. This is the amount that you can get paid out to your bank account, or use for refunds.

        With instant payment methods like iDEAL, payments are moved to the available balance instantly. With slower payment methods, like credit card for example, it can take a few days before the funds are available on your balance. These funds will be shown under the *pending amount* in the meanwhile.

        > 🔑 Access with
        >
        > [Access token with **balances.read**](/reference/authentication)
      parameters:
        - name: testmode
          description: |-
            Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.

            Test entities cannot be retrieved when the endpoint is set to live mode, and vice versa.
          in: query
          schema: *ref_4
      responses:
        '200':
          description: The balance object.
          content:
            application/hal+json:
              schema:
                type: object
                properties: &ref_62
                  resource:
                    type: string
                    description: Indicates the response contains a balance object. Will always contain the string `balance` for this endpoint.
                    readOnly: true
                    default: balance
                  id:
                    type: string
                    description: 'The identifier uniquely referring to this balance. Example: `bal_gVMhHKqSSRYJyPsuoPNFH`.'
                    readOnly: true
                  mode:
                    type: string
                    description: |-
                      Whether this entity was created in live mode or in test mode.

                      Possible values: `live` `test`
                    readOnly: true
                    example: live
                  currency:
                    type: string
                    description: The balance's ISO 4217 currency code.
                    readOnly: true
                  description:
                    type: string
                    description: The description or name of the balance. Can be used to denote the purpose of the balance.
                    readOnly: true
                  status:
                    type: string
                    description: |-
                      The status of the balance.

                      * `active` — The balance is operational and ready to be used.
                      * `inactive` — The account is being validated by our team, or the balance has been blocked. Contact us for more information.

                      Possible values: `active` `inactive`
                    readOnly: true
                  transferFrequency:
                    type: string
                    description: |-
                      The frequency with which the available amount on the balance will be settled to the configured transfer destination.

                      * `daily` — Every business day
                      * `twice-a-week` — Every Tuesday and Friday
                      * `every-monday` — Every Monday
                      * `every-tuesday` — Every Tuesday
                      * `every-wednesday` — Every Wednesday
                      * `every-thursday` — Every Thursday
                      * `every-friday` — Every Friday
                      * `twice-a-month` — On the first and the fifteenth of the month
                      * `monthly` — On the first of the month
                      * `never` — Automatic settlements are paused for this balance

                      Settlements created during weekends or on bank holidays will take place on the next business day.

                      Possible values: `daily` `twice-a-week` `every-monday` `every-tuesday` `every-wednesday` `every-thursday` `every-friday` `twice-a-month` `monthly` `never`
                    readOnly: true
                  transferThreshold:
                    description: The minimum amount configured for scheduled automatic settlements. As soon as the amount on the balance exceeds this threshold, the complete balance will be paid out to the transfer destination according to the configured frequency.
                    readOnly: true
                    type: object
                    required: &ref_5
                      - currency
                      - value
                    properties: &ref_6
                      currency:
                        type: string
                        description: A three-character ISO 4217 currency code.
                        example: EUR
                      value:
                        type: string
                        description: A string containing an exact monetary amount in the given currency.
                        example: '10.00'
                  transferReference:
                    type:
                      - string
                      - 'null'
                    description: The transfer reference set to be included in all the transfers for this balance.
                    readOnly: true
                  transferDestination:
                    type: object
                    description: The destination where the available amount will be automatically transferred to according to the configured transfer frequency.
                    properties:
                      type:
                        type: string
                        description: |-
                          The default destination of automatic scheduled transfers. Currently only `bank-account` is supported.

                          * `bank-account` — Transfer the balance amount to an external bank account

                          Possible values: `bank-account`
                      bankAccount:
                        type: string
                        description: The configured bank account number of the beneficiary the balance amount is to be transferred to.
                      beneficiaryName:
                        type: string
                        description: The full name of the beneficiary the balance amount is to be transferred to.
                    readOnly: true
                  availableAmount:
                    description: The amount directly available on the balance, e.g. `{"currency":"EUR", "value":"100.00"}`.
                    readOnly: true
                    type: object
                    required: *ref_5
                    properties: *ref_6
                  pendingAmount:
                    description: The total amount that is queued to be transferred to your balance. For example, a credit card payment can take a few days to clear.
                    readOnly: true
                    type: object
                    required: *ref_5
                    properties: *ref_6
                  createdAt:
                    type: string
                    description: The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
                    readOnly: true
                    example: '2024-03-20T09:13:37.0Z'
                  _links:
                    type: object
                    description: An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.
                    properties:
                      self:
                        type: object
                        description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                        properties: *ref_2
                      documentation:
                        type: object
                        description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                        properties: *ref_2
                    readOnly: true
              examples:
                get-balance-200-1:
                  summary: The balance object
                  value:
                    resource: balance
                    id: bal_gVMhHKqSSRYJyPsuoPNFH
                    mode: live
                    currency: EUR
                    description: Primary balance
                    availableAmount:
                      currency: EUR
                      value: '905.25'
                    pendingAmount:
                      currency: EUR
                      value: '0.00'
                    transferFrequency: twice-a-month
                    transferThreshold:
                      currency: EUR
                      value: '5.00'
                    transferReference: Mollie settlement
                    transferDestination:
                      type: bank-account
                      beneficiaryName: John Doe
                      bankAccount: NL55INGB0000000000
                    status: active
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-200-2:
                  summary: Get balance
                  value:
                    resource: balance
                    id: bal_CKjKwQdjCwCSArXFAJNFH
                    mode: live
                    createdAt: '2019-12-06T10:09:32+00:00'
                    currency: EUR
                    availableAmount:
                      value: '3.82'
                      currency: EUR
                    pendingAmount:
                      value: '5.41'
                      currency: EUR
                    status: active
                    transferFrequency: daily
                    transferThreshold:
                      value: '5.00'
                      currency: EUR
                    transferReference: null
                    transferDestination:
                      type: bank-account
                      beneficiaryName: '***'
                      bankAccount: '***'
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
        '404':
          description: No entity with this ID exists.
          content: *ref_7
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balance = $mollie->balances->get("bal_gVMhHKqSSRYJyPsuoPNFH");
            install: composer require mollie/mollie-api-php
          - language: node
            code: |-
              /*
              We don't have a Node.js code example for this
              API call yet.

              If you have some time to spare, feel free to
              share suggestions on our Discord:
              https://discord.gg/VaTVkXB4aQ
              */
            install: npm install @mollie/api-client
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balance = mollie_client.balances.get("bal_gVMhHKqSSRYJyPsuoPNFH")
            install: pip install mollie-api-python
          - language: ruby
            code: |-
              require 'mollie-api-ruby'

              Mollie::Client.configure do |config|
                config.api_key = 'access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ'
              end

              balance = Mollie::Balance.get('bal_gVMhHKqSSRYJyPsuoPNFH')
            install: gem install mollie-api-ruby
      x-speakeasy-name-override: get
      x-speakeasy-group: balances
  /balances/primary:
    get:
      summary: Get primary balance
      tags:
        - Balances API
      operationId: get-primary-balance
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve the primary balance. This is the balance of your account's primary currency, where all payments are settled to by default.

        This endpoint is a convenient alias of the [Get balance](get-balance) endpoint. For a complete reference of the balance object, refer to that endpoint's documentation.

        > 🔑 Access with
        >
        > [Access token with **balances.read**](/reference/authentication)
      responses:
        '200':
          description: The primary balance object. For a complete reference of the balance object, refer to the [Get balance](get-balance) endpoint documentation.
          content:
            application/hal+json:
              schema: {}
              examples:
                get-primary-balance-200-1:
                  summary: Get primary balance
                  value:
                    resource: balance
                    id: bal_CKjKwQdjCwCSArXFAJNFH
                    mode: live
                    createdAt: '2019-12-06T10:09:32+00:00'
                    currency: EUR
                    availableAmount:
                      value: '3.82'
                      currency: EUR
                    pendingAmount:
                      value: '5.41'
                      currency: EUR
                    status: active
                    transferFrequency: daily
                    transferThreshold:
                      value: '5.00'
                      currency: EUR
                    transferReference: null
                    transferDestination:
                      type: bank-account
                      beneficiaryName: '***'
                      bankAccount: '***'
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/primary \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $balance = $mollie->balances->primary();
            install: composer require mollie/mollie-api-php
          - language: node
            code: |-
              /*
              We don't have a Node.js code example for this
              API call yet.

              If you have some time to spare, feel free to
              share suggestions on our Discord:
              https://discord.gg/VaTVkXB4aQ
              */
            install: npm install @mollie/api-client
          - language: python
            code: |-
              from mollie.api.client import Client

              mollie_client = Client()
              mollie_client.set_access_token("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ")

              balance = mollie_client.balances.get("primary")
            install: pip install mollie-api-python
          - language: ruby
            code: |-
              # We don't have a Ruby code example for this
              # API call yet.
              #
              # If you have some time to spare, feel free to
              # share suggestions on our Discord:
              # https://discord.gg/VaTVkXB4aQ
            install: gem install mollie-api-ruby
      x-speakeasy-name-override: get-primary
      x-speakeasy-group: balances
  /balances/{balanceId}/report:
    parameters:
      - name: balanceId
        description: Provide the ID of the related balance.
        in: path
        required: true
        schema: &ref_8
          type: string
          example: bal_gVMhHKqSSRYJyPsuoPNFH
    get:
      summary: Get balance report
      tags:
        - Balances API
      operationId: get-balance-report
      security:
        - oAuth:
            - balance-reports.read
      description: |-
        Retrieve a summarized report for all transactions on a given balance within a given timeframe.

        The API also provides a detailed report on all 'prepayments' for Mollie fees that were deducted from your balance during the reported period, ahead of your Mollie invoice.

        The alias `primary` can be used instead of the balance ID to refer to the organization's primary balance.

        > 🔑 Access with
        >
        > [Access token with **balance-reports.read**](/reference/authentication)
      parameters:
        - name: from
          description: The start date of the report, in `YYYY-MM-DD` format. The from date is 'inclusive', and in Central European Time. This means a report with for example `from=2024-01-01` will include transactions from 2024-01-01 0:00:00 CET and onwards.
          in: query
          schema:
            type: string
            example: '2024-01-01'
          required: true
        - name: until
          description: The end date of the report, in `YYYY-MM-DD` format. The until date is 'exclusive', and in Central European Time. This means a report with for example `until=2024-02-01` will include transactions up until 2024-01-31 23:59:59 CET.
          in: query
          schema:
            type: string
            example: '2024-02-01'
          required: true
        - name: grouping
          description: |-
            You can retrieve reports in two different formats. With the `status-balances` format, transactions are grouped by status (e.g. `pending`, `available`), then by transaction type, and then by other sub-groupings where available (e.g. payment method).

            With the `transaction-categories` format, transactions are grouped by transaction type, then by status, and then again by other sub-groupings where available.

            Possible values: `status-balances` `transaction-categories` (default: `status-balances`)
          in: query
          schema:
            type:
              - string
              - 'null'
            example: status-balances
        - name: testmode
          description: |-
            Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.

            Test entities cannot be retrieved when the endpoint is set to live mode, and vice versa.
          in: query
          schema: *ref_4
      responses:
        '200':
          description: The balance report object.
          content:
            application/hal+json:
              schema:
                type: object
                properties: &ref_63
                  resource:
                    type: string
                    description: Indicates the response contains a balance report object. Will always contain the string `balance-report` for this endpoint.
                    readOnly: true
                    default: balance-report
                  balanceId:
                    type: string
                    description: The ID of the balance this report is generated for.
                  timeZone:
                    type: string
                    description: The time zone used for the from and until parameters. Currently only time zone `Europe/Amsterdam` is supported.
                  from:
                    type: string
                    description: The start date of the report, in `YYYY-MM-DD` format. The from date is 'inclusive', and in Central European Time. This means a report with for example `from=2024-01-01` will include movements of 2024-01-01 0:00:00 CET and onwards.
                  until:
                    type: string
                    description: The end date of the report, in `YYYY-MM-DD` format. The until date is 'exclusive', and in Central European Time. This means a report with for example `until=2024-02-01` will include movements up until 2024-01-31 23:59:59 CET.
                  grouping:
                    type: string
                    description: |-
                      You can retrieve reports in two different formats. With the `status-balances` format, transactions are grouped by status (e.g. `pending`, `available`), then by direction of movement (e.g. moved from pending to available), then by transaction type, and then by other sub-groupings where available (e.g. payment method).

                      With the `transaction-categories` format, transactions are grouped by transaction type, then by direction of movement, and then again by other sub-groupings where available.

                      Both reporting formats will always contain opening and closing amounts that correspond to the start and end dates of the report.

                      Possible values: `status-balances` `transaction-categories` (default: `status-balances`)
                  totals:
                    type: object
                    description: |-
                      Totals are grouped according to the chosen grouping rule. The example response should give a good idea of what a typical grouping looks like.

                      If grouping `status-balances` is chosen, the main grouping is as follows:

                      * `pendingBalance` containing an `open`, `pending`, `movedToAvailable`, and `close` sub-group
                      * `availableBalance` containing an `open`, `movedFromPending`, `immediatelyAvailable`, and `close` sub-group

                      If grouping `transaction-categories` is chosen, the main grouping is as follows:

                      * `open` and `close` groups, each containing a `pending` and `available` sub-group
                      * Transaction type groups such as `payments` or `refunds`, each containing a `pending`, `movedToAvailable`, and `immediatelyAvailable` sub-group

                      Each sub-group typically has:

                      * An `amount` object containing the group's total amount
                      * A `count` integer if relevant (for example, counting the number of refunds)
                      * A `subtotals` array containing more sub-group objects if applicable
                  _links:
                    type: object
                    description: An object with several relevant URLs. Every URL object will contain an `href` and a `type` field.
                    properties:
                      self:
                        type: object
                        description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                        properties: *ref_2
                      documentation:
                        type: object
                        description: In v2 endpoints, URLs are commonly represented as objects with an `href` and `type` field.
                        properties: *ref_2
                    readOnly: true
              examples:
                get-balance-report-200-1:
                  summary: The balance report object
                  value:
                    resource: balance-report
                    balanceId: bal_gVMhHKqSSRYJyPsuoPNFH
                    timeZone: Europe/Amsterdam
                    from: '2024-01-01'
                    until: '2024-01-31'
                    grouping: transaction-categories
                    totals:
                      open:
                        available:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '0.00'
                      payments:
                        immediatelyAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '4.98'
                          subtotals:
                            - transactionType: payment
                              count: 1
                              amount:
                                currency: EUR
                                value: '4.98'
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    currency: EUR
                                    value: '4.98'
                        movedToAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                      refunds: {}
                      capital: {}
                      chargebacks: {}
                      transfers: {}
                      fee-prepayments:
                        immediatelyAvailable:
                          amount:
                            currency: EUR
                            value: '0.00'
                        movedToAvailable:
                          amount:
                            currency: EUR
                            value: '-0.36'
                          subtotals:
                            - prepaymentPartType: fee
                              count: 1
                              amount:
                                currency: EUR
                                value: '-0.29'
                              subtotals:
                                - feeType: payment-fee
                                  method: ideal
                                  count: 1
                                  amount:
                                    currency: EUR
                                    value: '-0.29'
                            - prepaymentPartType: fee-vat
                              amount:
                                currency: EUR
                                value: '-0.0609'
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                currency: EUR
                                value: '-0.0091'
                        pending:
                          amount:
                            currency: EUR
                            value: '-0.36'
                          subtotals: []
                      corrections: {}
                      close:
                        available:
                          amount:
                            currency: EUR
                            value: '0.00'
                        pending:
                          amount:
                            currency: EUR
                            value: '4.32'
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-report-200-2:
                  summary: Get balance report - status-balances grouping
                  x-request: ./requests.yaml#/oauth-get-balance-report---status-balances-grouping
                  value:
                    resource: balance-report
                    balanceId: bal_CKjKwQdjCwCSArXFAJNFH
                    timeZone: Europe/Amsterdam
                    from: '2022-12-01'
                    until: '2022-12-16'
                    grouping: status-balances
                    totals:
                      pendingBalance:
                        open:
                          amount:
                            value: '5.21'
                            currency: EUR
                        pending:
                          amount:
                            value: '4380.51'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 82
                              amount:
                                value: '4382.75'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 74
                                  amount:
                                    value: '4381.45'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: pending-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                            - transactionType: to-be-released-rolling-reserve
                              amount:
                                value: '0.10'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '1080.31'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        close:
                          amount:
                            value: '3305.41'
                            currency: EUR
                      availableBalance:
                        open:
                          amount:
                            value: '2.25'
                            currency: EUR
                        movedFromPending:
                          amount:
                            value: '1080.31'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-2.24'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - feeType: payment-fee
                                      count: 8
                                      amount:
                                        value: '-2.239'
                                        currency: EUR
                                      subtotals:
                                        - method: creditcard
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                          subtotals:
                                            - cardIssuer: amex
                                              cardAudience: other
                                              cardRegion: intra-eea
                                              count: 1
                                              amount:
                                                value: '-0.279'
                                                currency: EUR
                                        - method: ideal
                                          count: 7
                                          amount:
                                            value: '-1.96'
                                            currency: EUR
                                - prepaymentPartType: fee-rounding-compensation
                                  amount:
                                    value: '-0.001'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1078.74'
                            currency: EUR
                          subtotals:
                            - transactionType: refund
                              count: 4
                              amount:
                                value: '-0.12'
                                currency: EUR
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    value: '-0.01'
                                    currency: EUR
                                - method: pointofsale
                                  count: 3
                                  amount:
                                    value: '-0.11'
                                    currency: EUR
                            - transactionType: fee-prepayment
                              amount:
                                value: '-1.00'
                                currency: EUR
                              subtotals:
                                - prepaymentPartType: fee
                                  count: 4
                                  amount:
                                    value: '-1.00'
                                    currency: EUR
                                  subtotals:
                                    - feeType: refund-fee
                                      count: 4
                                      amount:
                                        value: '-1.00'
                                        currency: EUR
                            - transactionType: outgoing-transfer
                              count: 1
                              amount:
                                value: '-1077.62'
                                currency: EUR
                        close:
                          amount:
                            value: '3.82'
                            currency: EUR
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                get-balance-report-200-3:
                  summary: Get balance report - transaction-categories grouping
                  x-request: ./requests.yaml#/oauth-get-balance-report---transaction-categories-grouping
                  value:
                    resource: balance-report
                    balanceId: bal_CKjKwQdjCwCSArXFAJNFH
                    timeZone: Europe/Amsterdam
                    from: '2022-12-01'
                    until: '2022-12-16'
                    grouping: transaction-categories
                    totals:
                      open:
                        pending:
                          amount:
                            value: '5.21'
                            currency: EUR
                        available:
                          amount:
                            value: '2.25'
                            currency: EUR
                      payments:
                        pending:
                          amount:
                            value: '4382.75'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 82
                              amount:
                                value: '4382.75'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 74
                                  amount:
                                    value: '4381.45'
                                    currency: EUR
                            - transactionType: pending-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                            - transactionType: to-be-released-rolling-reserve
                              amount:
                                value: '0.10'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '1082.55'
                            currency: EUR
                          subtotals:
                            - transactionType: payment
                              count: 70
                              amount:
                                value: '1082.65'
                                currency: EUR
                              subtotals:
                                - method: creditcard
                                  count: 1
                                  amount:
                                    value: '1.00'
                                    currency: EUR
                                  subtotals:
                                    - cardIssuer: amex
                                      cardAudience: other
                                      cardRegion: intra-eea
                                      count: 1
                                      amount:
                                        value: '1.00'
                                        currency: EUR
                                - method: ideal
                                  count: 7
                                  amount:
                                    value: '0.30'
                                    currency: EUR
                                - method: pointofsale
                                  count: 62
                                  amount:
                                    value: '1081.35'
                                    currency: EUR
                            - transactionType: held-rolling-reserve
                              amount:
                                value: '-0.10'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      refunds:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-0.12'
                            currency: EUR
                          subtotals:
                            - transactionType: refund
                              count: 4
                              amount:
                                value: '-0.12'
                                currency: EUR
                              subtotals:
                                - method: ideal
                                  count: 1
                                  amount:
                                    value: '-0.01'
                                    currency: EUR
                                - method: pointofsale
                                  count: 3
                                  amount:
                                    value: '-0.11'
                                    currency: EUR
                      chargebacks:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      capital:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      transfers:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1077.62'
                            currency: EUR
                          subtotals:
                            - transactionType: outgoing-transfer
                              count: 1
                              amount:
                                value: '-1077.62'
                                currency: EUR
                      fee-prepayments:
                        pending:
                          amount:
                            value: '-2.24'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 8
                              amount:
                                value: '-2.239'
                                currency: EUR
                              subtotals:
                                - feeType: payment-fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - method: creditcard
                                      count: 1
                                      amount:
                                        value: '-0.279'
                                        currency: EUR
                                      subtotals:
                                        - cardIssuer: amex
                                          cardAudience: other
                                          cardRegion: intra-eea
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                    - method: ideal
                                      count: 7
                                      amount:
                                        value: '-1.96'
                                        currency: EUR
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                value: '-0.001'
                                currency: EUR
                        movedToAvailable:
                          amount:
                            value: '-2.24'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 8
                              amount:
                                value: '-2.239'
                                currency: EUR
                              subtotals:
                                - feeType: payment-fee
                                  count: 8
                                  amount:
                                    value: '-2.239'
                                    currency: EUR
                                  subtotals:
                                    - method: creditcard
                                      count: 1
                                      amount:
                                        value: '-0.279'
                                        currency: EUR
                                      subtotals:
                                        - cardIssuer: amex
                                          cardAudience: other
                                          cardRegion: intra-eea
                                          count: 1
                                          amount:
                                            value: '-0.279'
                                            currency: EUR
                                    - method: ideal
                                      count: 7
                                      amount:
                                        value: '-1.96'
                                        currency: EUR
                            - prepaymentPartType: fee-rounding-compensation
                              amount:
                                value: '-0.001'
                                currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '-1.00'
                            currency: EUR
                          subtotals:
                            - prepaymentPartType: fee
                              count: 4
                              amount:
                                value: '-1.00'
                                currency: EUR
                              subtotals:
                                - feeType: refund-fee
                                  count: 4
                                  amount:
                                    value: '-1.00'
                                    currency: EUR
                      corrections:
                        pending:
                          amount:
                            value: '0.00'
                            currency: EUR
                        movedToAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                        immediatelyAvailable:
                          amount:
                            value: '0.00'
                            currency: EUR
                      close:
                        pending:
                          amount:
                            value: '3305.41'
                            currency: EUR
                        available:
                          amount:
                            value: '3.82'
                            currency: EUR
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
        '404':
          description: No entity with this ID exists.
          content: *ref_7
      x-readme:
        code-samples:
          - language: shell
            code: |-
              curl -X GET https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/report?from=2024-01-01&until=2024-02-01&grouping=transaction-categories \
                  -H "Authorization: Bearer access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ"
          - language: php
            code: |-
              <?php
              $mollie = new \Mollie\Api\MollieApiClient();
              $mollie->setAccessToken("access_Wwvu7egPcJLLJ9Kb7J632x8wJ2zMeJ");

              $report = $mollie->balanceReports->get(
                  "bal_gVMhHKqSSRYJyPsuoPNFH",
                  [
                      "from" => "2024-01-01",
                      "until" => "2024-02-01",
                      "grouping" => "transaction-categories",
                  ],
              );
            install: composer require mollie/mollie-api-php
          - language: node
            code: |-
              /*
              We don't have a Node.js code example for this
              API call yet.

              If you have some time to spare, feel free to
              share suggestions on our Discord:
              https://discord.gg/VaTVkXB4aQ
              */
            install: npm install @mollie/api-client
          - language: python
            code: |-
              '''
              We don't have a Python code example for this
              API call yet.

              If you have some time to spare, feel free to
              share suggestions on our Discord:
              https://discord.gg/VaTVkXB4aQ
              '''
            install: pip install mollie-api-python
          - language: ruby
            code: |-
              # We don't have a Ruby code example for this
              # API call yet.
              #
              # If you have some time to spare, feel free to
              # share suggestions on our Discord:
              # https://discord.gg/VaTVkXB4aQ
            install: gem install mollie-api-ruby
      x-speakeasy-name-override: get-report
      x-speakeasy-group: balances
  /balances/{balanceId}/transactions:
    parameters:
      - name: balanceId
        description: Provide the ID of the related balance.
        in: path
        required: true
        schema: *ref_8
    get:
      summary: List balance transactions
      tags:
        - Balances API
      operationId: list-balance-transactions
      security:
        - oAuth:
            - balances.read
      description: |-
        Retrieve a list of all balance transactions. Transactions include for example payments, refunds, chargebacks, and settlements.

        For an aggregated report of these balance transactions, refer to the [Get balance report](get-balance-report) endpoint.

        The alias `primary` can be used instead of the balance ID to refer to the organization's primary balance.

        The results are paginated.

        > 🔑 Access with
        >
        > [Access token with **balances.read**](/reference/authentication)
      parameters:
        - schema:
            type: string
            example: baltr_QM24QwzUWR4ev4Xfgyt29A
          name: from
          description: Provide an ID to start the result set from the item with the given ID and onwards. This allows you to paginate the result set.
          in: query
        - name: limit
          description: The maximum number of items to return. Defaults to 50 items.
          in: query
          schema: *ref_9
        - name: testmode
          description: |-
            Most API credentials are specifically created for either live mode or test mode. In those cases the `testmode` query parameter can be omitted. For organization-level credentials such as OAuth access tokens, you can enable test mode by setting the `testmode` query parameter to `true`.

            Test entities cannot be retrieved when the endpoint is set to live mode, and vice versa.
          in: query
          schema: *ref_4
      responses:
        '200':
          description: A list of balance transaction objects.
          content:
            application/hal+json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: |-
                      The number of items in this result set. If more items are available, a `_links.next` URL will be present in the result as well.

                      The maximum number of items per result set is controlled by the `limit` property provided in the request. The default limit is 50 items.
                    minimum: 1
                    maximum: 250
                    example: 5
                  _embedded:
                    type: object
                    properties:
                      balance_transactions:
                        description: An array of balance transaction objects.
                        type: array
                        items:
                          type: object
                          properties: &ref_64
                            resource:
                              type: string
                              description: Indicates the response contains a balance transaction object. Will always contain the string `balance_transaction` for this endpoint.
                              readOnly: true
                              default: balance_transaction
                            id:
                              type: string
                              description: 'The identifier uniquely referring to this balance transaction. Example: `baltr_QM24QwzUWR4ev4Xfgyt29d`.'
                              readOnly: true
                            type:
                              type: string
                              description: |-
                                The type of transaction, for example `payment` or `refund`. Values include the below examples, although this list is not definitive.

                                * Regular payment processing: `payment` `capture` `unauthorized-direct-debit` `failed-payment`
                                * Refunds and chargebacks: `refund` `returned-refund` `chargeback` `chargeback-reversal`
                                * Settlements: `outgoing-transfer` `canceled-outgoing-transfer` `returned-transfer`
                                * Invoicing: `invoice-compensation` `balance-correction`
                                * Mollie Connect: `application-fee` `split-payment` `platform-payment-refund` `platform-payment-chargeback`
                            resultAmount:
                              description: The final amount that was moved to or from the balance. If the transaction moves funds away from the balance, for example when it concerns a refund, the amount will be negative.
                              type: object
                              required: *ref_5
                              properties: *ref_6
                            initialAmount:
                              description: The amount that was to be moved to or from the balance, excluding deductions. If the transaction moves funds away from the balance, for example when it concerns a refund, the amount will be negative.
                              type: object
                              required: *ref_5
                              properties: *ref_6
                            deductions:
                              description: |-
                                The total amount of deductions withheld from the movement. For example, if we charge a €0.29 fee on a €10 payment, the deductions amount will be `{"currency":"EUR", "value":"-0.29"}`.

                                When moving funds to a balance, we always round the deduction to a 'real' amount. Any differences between these real-time rounded amounts and the final invoice will be compensated when the invoice is generated.
                              type: &ref_21
                                - object
                                - 'null'
                              required: &ref_22
                                - currency
                                - value
                              properties: &ref_23
                                currency:
                                  type: string
                                  description: A three-character ISO 4217 currency code.
                                  example: EUR
                                value:
                                  type: string
                                  description: A string containing an exact monetary amount in the given currency.
                                  example: '10.00'
                            context:
                              type: object
                              description: |-
                                Depending on the type of the balance transaction, we will try to give more context about the specific event that triggered it. For example, the context object for a payment transaction will look like `{"paymentId": "tr_5B8cwPMGnU6qLbRvo7qEZo"}`.

                                Below is a complete list of the context values that each type of transaction will have.

                                * Type `payment: `paymentId`
                                * Type `capture`: `paymentId` `captureId`
                                * Type `unauthorized-direct-debit`: `paymentId`
                                * Type `failed-payment`: `paymentId`
                                * Type `refund`: `paymentId` `refundId`
                                * Type `returned-refund`: `paymentId` `refundId`
                                * Type `chargeback`: `paymentId` `chargebackId`
                                * Type `chargeback-reversal`: `paymentId`
                                * Type `outgoing-transfer`: `settlementId` `transferId`
                                * Type `canceled-outgoing-transfer`: `settlementId` `transferId`
                                * Type `returned-transfer`: `settlementId` `transferId`
                                * Type `invoice-compensation`: `invoiceId`
                                * Type `balance-correction`: none
                                * Type `application-fee`: `paymentId`
                                * Type `split-payment`: `paymentId`
                                * Type `platform-payment-refund`: `paymentId` `refundId`
                                * Type `platform-payment-chargeback`: `paymentId` `chargebackId`
                            createdAt:
                              type: string
                              description: The entity's date and time of creation, in [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format.
                              readOnly: true
                              example: '2024-03-20T09:13:37.0Z'
                  _links:
                    type: object
                    description: Links to help navigate through the lists of items. Every URL object will contain an `href` and a `type` field.
                    properties: *ref_10
              examples:
                list-balance-transactions-200-1:
                  summary: A list of balance transaction objects
                  value:
                    count: 5
                    _embedded:
                      balance_transactions:
                        - resource: balance_transaction
                          id: baltr_QM24QwzUWR4ev4Xfgyt29A
                          type: refund
                          resultAmount:
                            currency: EUR
                            value: '-10.25'
                          initialAmount:
                            currency: EUR
                            value: '-10.00'
                          deductions:
                            currency: EUR
                            value: '-0.25'
                          context:
                            paymentId: tr_5B8cwPMGnU6qLbRvo7qEZo
                            refundId: re_4qqhO89gsT
                        - resource: balance_transaction
                          id: baltr_WhmDwNYR87FPDbiwBhUXCh
                          type: payment
                          resultAmount:
                            currency: EUR
                            value: '9.71'
                          initialAmount:
                            currency: EUR
                            value: '10.00'
                          deductions:
                            currency: EUR
                            value: '-0.29'
                          context:
                            paymentId: tr_5B8cwPMGnU6qLbRvo7qEZo
                        - {}
                        - {}
                        - {}
                    _links:
                      self:
                        href: ...
                        type: application/hal+json
                      previous: null
                      next:
                        href: https://api.mollie.com/v2/balances/bal_gVMhHKqSSRYJyPsuoPNFH/transactions?from=baltr_rXeW2yPqqDUyfAqq8fS5Bg&limit=5
                        type: application/hal+json
                      documentation:
                        href: ...
                        type: text/html
                list-balance-transactions-200-2:
                  summary: List balance transactions
                  value:
                    _embedded:
                      balance_transactions:
                        - resource: balance_transactions
                          id: baltr_Eh5yKgk4PWxsCSJy7bdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:23:25+00:00'
                          context:
                            paymentId: tr_9gX2sjtuh6
                        - resource: balance_transactions
                          id: baltr_BR56v6ZPrVcfy8jbzadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:22:20+00:00'
                          context:
                            paymentId: tr_qVamMQaRjN
                        - resource: balance_transactions
                          id: baltr_XM3Ye884WheSEsGqyadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:22:12+00:00'
                          context:
                            paymentId: tr_vLzZYBN6gd
                        - resource: balance_transactions
                          id: baltr_pYs7WdRU9TV9cyxsnadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:20:20+00:00'
                          context:
                            paymentId: tr_hhwh2cTWCk
                        - resource: balance_transactions
                          id: baltr_vecp57y9tTsnohz2hadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:19:19+00:00'
                          context:
                            paymentId: tr_jnTdA4W6Rq
                        - resource: balance_transactions
                          id: baltr_s5EKzwZ394TxEcpSaadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:18:12+00:00'
                          context:
                            paymentId: tr_xLQaL4nsJT
                        - resource: balance_transactions
                          id: baltr_WgQcFW4DS9zNDeWCWadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:17:28+00:00'
                          context:
                            paymentId: tr_RSiTUXmzGo
                        - resource: balance_transactions
                          id: baltr_ZAbACJF2Nh2PCJysHadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:15:22+00:00'
                          context:
                            paymentId: tr_h8mPuFp8hq
                        - resource: balance_transactions
                          id: baltr_CM6okJdX7SUFDzXVBadRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:14:16+00:00'
                          context:
                            paymentId: tr_kJJrKynq7H
                        - resource: balance_transactions
                          id: baltr_Luwmv2RPjWAPVbQsrZdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:11:16+00:00'
                          context:
                            paymentId: tr_hrimCxybrx
                        - resource: balance_transactions
                          id: baltr_fNnyBtyVpMaujFHoTZdRH
                          type: payment
                          resultAmount:
                            value: '300.00'
                            currency: EUR
                          initialAmount:
                            value: '300.00'
                            currency: EUR
                          createdAt: '2022-12-16T11:07:18+00:00'
                          context:
                            paymentId: tr_AxBZBFz2to
                        - resource: balance_transactions
                          id: baltr_ZYkNBk6NpH8yyanezZbRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-15T16:40:16+00:00'
                          context:
                            paymentId: tr_dZvMYBkaMd
                        - resource: balance_transactions
                          id: baltr_KouV3xWwyPSimHtPuZbRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-15T16:39:22+00:00'
                          context:
                            paymentId: tr_iNkGFF75jh
                        - resource: balance_transactions
                          id: baltr_R7J2QLNXBHozou2sygaRH
                          type: payment
                          resultAmount:
                            value: '0.62'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          deductions:
                            value: '-0.38'
                            currency: EUR
                          createdAt: '2022-12-15T08:32:17+00:00'
                          context:
                            paymentId: tr_5ZYFyKSBLy
                        - resource: balance_transactions
                          id: baltr_wYLbjfBDPPbhktwP9iYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T14:11:11+00:00'
                          context:
                            paymentId: tr_iSQFK5EVov
                        - resource: balance_transactions
                          id: baltr_bqd6QKaPMpgWKLRAYdYRH
                          type: payment
                          resultAmount:
                            value: '1.00'
                            currency: EUR
                          initialAmount:
                            value: '1.00'
                            currency: EUR
                          createdAt: '2022-12-14T13:26:18+00:00'
                          context:
                            paymentId: tr_KacasZ6Mep
                        - resource: balance_transactions
                          id: baltr_EW4yXvwwERRkNTxGUHYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T10:10:29+00:00'
                          context:
                            paymentId: tr_PsZAZznzcg
                        - resource: balance_transactions
                          id: baltr_MU5s5vSHYDRSWnYbJBYRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T09:10:17+00:00'
                          context:
                            paymentId: tr_eUo3wbBuSe
                        - resource: balance_transactions
                          id: baltr_UAzMEogYhsKnBiNQF5YRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-14T08:11:12+00:00'
                          context:
                            paymentId: tr_wgCSd9H32d
                        - resource: balance_transactions
                          id: baltr_tRCT9FVTN4gmoYsetiXRH
                          type: outgoing-transfer
                          resultAmount:
                            value: '-1077.62'
                            currency: EUR
                          initialAmount:
                            value: '-1077.62'
                            currency: EUR
                          createdAt: '2022-12-14T05:02:25+00:00'
                          context:
                            settlementId: stl_nyjwa2
                            transferId: trf_nyjwa2
                        - resource: balance_transactions
                          id: baltr_mCT66L9cfEWbqgNFwFWRH
                          type: payment
                          resultAmount:
                            value: '0.05'
                            currency: EUR
                          initialAmount:
                            value: '0.05'
                            currency: EUR
                          createdAt: '2022-12-13T15:23:17+00:00'
                          context:
                            paymentId: tr_Q4P8DoWGhA
                        - resource: balance_transactions
                          id: baltr_qb8AuKkzZQ4ipFpbkDWRH
                          type: refund
                          resultAmount:
                            value: '-0.30'
                            currency: EUR
                          initialAmount:
                            value: '-0.05'
                            currency: EUR
                          deductions:
                            value: '-0.25'
                            currency: EUR
                          createdAt: '2022-12-13T15:01:56+00:00'
                          context:
                            paymentId: tr_PsZAZznzcg
[...]
